/* By Eric Schultz - 6/3/2017 */
/* Designed for my own learning and promoting purposes */

/* Set correct display value for HTML5 elements in case user is on an older browser */
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

/* Page font family */
html {
	font-family: "Open Sans", Roboto, sans-serif;
}

/* Page background */
body {
	position: relative;
	background: #66d9ff;
	margin: 0;
	height: 100%;
}

.body {
	clear: both;
	margin: 0 auto;
	width: 900px;
}

a {
	text-decoration: none;
}

/* Header (title and navigation bar) */
header {
	position: relative;
	height: 135px;
	text-align: center;
	width: 100%;
	background: #66d9ff;
}

#icons {
	float: left;
	margin: 30px auto auto 2%;
}

#my-name {
	width: 400px;
	font-size: 3em;
	text-align: center;
	margin: auto;
	padding-top: 10px;
	color: DarkBlue;
}

a#name:hover {
	
}

nav {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    background: #66d9ff;
    width: 900px;
    height: 40px;
    padding: 16px 0 0 0;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

nav button {
	background: white;
	padding: 0;
	width: 221px;
	height: 100%;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: 0.3s;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

nav button:hover {
	background-color: #007399;
	color: #eee;
	outline: none;
}

nav button.active {
	background-color: #006080;
	color: #fff;
	outline: none;
}

/* Content tabs */
#content {
	position: absolute;
	bottom: 100;
	top: 135;
	width: 100%;
	background: #006080;
	color: white;
	overflow-y: auto;
}

.tab-content {
	display: none;
	padding: 20px 20px;
	width: 900px;
	margin: auto;
}

.tab-content a {
	color: #66d9ff;
}

/* Education tab styling */
#education h3 {
	margin: 35px 0 0;
}

#education p {
	margin: 0;
}

div.gallery {
    margin: 40px 5px 5px;
    border: 1px solid white;
    float: left;
    width: 32%;
}

div.gallery:hover {
    border: 1px solid #66d9ff;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* Experience tab content styling */
div.exp-entry {
	margin: 30px 0;
}

div.exp-entry h4 {
	float: left;
	margin: 0;
}

div.exp-entry i {
	float: right;
}

div.exp-entry ul {
	clear: both;
}

/* Footer */
footer {
	position: absolute;
	bottom: 0;
	height: 100px;
	width: 100%;
	background: white;
}

address {
	height: 30px;
	width: 900px;
	margin: 30px auto;
}

footer a {
	text-decoration: none;
	font-size: 16px;
	color: DarkBlue;
	border: none;
	outline: none;
	padding: 0 25px;
}

footer a:hover {
	text-shadow: 0 0.2px black, 0 -0.2px black;
}
